<div class="cont-btn">
  <button (click)="btnColor(1)">buton 1</button>
  <button (click)="btnColor(2)">buton 2</button>
  <button (click)="btnColor(3)">buton 3</button>
  <button (click)="btnColor(4)">buton 4</button>
</div>

<div class="men">
  {{mensaje}}
</div>

<!--<div [ngSwitch]=""]>
  <div *ngSwitchCase="1">presionaste boton 1</div>
  <div *ngSwitchCase="2">presionaste boton 2</div>
  <div *ngSwitchCase="3">presionaste boton 3</div>
  <div *ngSwitchCase="4">presionaste boton 4</div>
  <div *ngSwitchDefault>No has presionado ningun boton</div>
</div>
-->
